


.agregar{
    margin-top: 7px;
}

.contenedor{
   margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 25px;
   width: 90%;
   border-left: none; 
   border-right: none; 
   border-top: none;
   border-radius: 5px; 
   border-width: 1px;
}
.botonDerecha{
    margin-left: -2800px;
    display: flex ;
}
.boton{
    font-size: 30px;
    margin-left: 51%;
    margin-top: 100px;
}
.primero{
    margin-top: 80px;
}
.filtroBtn{
    
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-family: Arial;
}
.filtro{
    margin-left: 1500px;
    margin-top: -80px;
}
.textos{
    text-align: justify;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: 30px;
}
.desc{
    margin-left: -390px;
}
.titulos{
    color: white;
}
.contenedorScroll{
  
    text-align: center;
    background-color: #110C1C;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
   margin-top: 20px;
   border: solid;
   border-color: #504A8E;
   border-radius: 10px;
}
.contenido{
    display: inline-block;
    
}
.imagenScroll{
    height: 300px;
    padding: 10px;
}
.imagen{
    margin-top: -30px;
    height: 300px;
    margin-left: -150px;
  }
.titulo{
    font-size: 30px;
    margin-bottom: 40px;
}




