/* Estilos generales */

a {
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
}


/* Contenedor principal */

.contenedor {
   display: inline-block;
    margin-top: 150px;
    margin-left: 36%;
    max-width: 500px;
    
   
    border:solid;
    border-color: #504A8E;
    padding: 30px;
    border-radius: 30px;
   
  
}

/* Formulario */

.formulario {
  
    padding: 20px;
    border-radius: 10px;
    width: 400px; /* ancho del formulario */
    text-align: center;
    margin: 20px auto;
}
.fondoLetras{
    font-size: 3px;
}
.BarraFondo {
    font-size: 10px;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    border-top: solid;
    border-color: #3F2B8E;

    text-align: center;
    position: absolute;
}

.pagar{
    margin-left: 30%;
    margin-right: 30px;
}

/* Titulo */
.titulo{
    color: white;
}
h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

/* Inputs */

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.botonarriba{
    background-color: #9781A1;
    color: white;
    height: 40px;
}
.botonarriba:hover{
    background-color: #cabcd1;
}

/* Botón */


.botones {
    text-align: center;
    margin-top: 10px;
}
/* Media queries */

@media (max-width: 768px) {
    .formulario {
        width: 90%;
    }
}
