/* Estilos generales */

a {
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* gris claro */
    background-color: #606c38;/* color de fondo */
}

/* Contenedor principal */

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Formulario */

.formulario {
    background-color: #073b4c;
    padding: 20px;
    border-radius: 10px;
    width: 400px; /* ancho del formulario */
    text-align: center;
    margin: 20px auto;
}


/* Titulo */

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

/* Inputs */

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón */

button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #073b4c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botones {
    text-align: center;
    margin-top: 10px;
}
/* Media queries */

@media (max-width: 768px) {
    .formulario {
        width: 90%;
    }
}
