body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /* background: linear-gradient(to bottom, #f7f7f7, #e6e6e6); Gris claro a gris más oscuro */
    background-color: #2d3442;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input,
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #073b4c;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #1d6483;
}


