<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Creativo Registrado</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
   
   
    <!-- <link rel="stylesheet" href="../archivosCSS/estilosPantallasProds.css"> -->
    <link rel="stylesheet" href="resources/css/estilosPantallasProds.css">

    <!-- <link rel="stylesheet" href="../archivosCSS/estilosGenerales.css"> -->
    <!-- <link rel="stylesheet" href="../archivosCSS/estilosCreativo.css"> -->
    <link rel="stylesheet" href="resources/css/estilosGenerales.css">
    <link rel="stylesheet" href="resources/css/estilosCreativo.css">
    

    <!-- <script type = "text/javaScript" src = "../../back-end/reloj.js"></script> -->
    <script type = "text/javaScript" src="resources/js/reloj.js"></script>
</head>
<body class = "body">
    <nav class="navbar navbar-expand-lg navbar-dark navbarTodos fixed-top">
       
        <div class="container-fluid">
        <a class="navbar-brand" href="landingPage">LOGO</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn  botonarriba" type="submit">Buscar</button>
          </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="seriesReg">Series</a>
                    <a class="nav-link" href="pelisReg" >Peliculas</a>
                    <a class="nav-link" href="docusReg">Documentales</a>
                        <div class="dropdown" style="float:right;">
                            <button class="dropbtn  drop" > <label for="" class = "icono">☰</label></button>
                            <div class="dropdown-content">
                              <a href="perfil">Perfil</a>
                              <a href="wishlist">Wishlist</a>
                              <a href="historial">Historial</a>
                              <a href="carrito">Carrito</a>
                              <a href="landingPage">Cerrar Sesión</a>
                            </div>
                          </div>
                </div>
            </div>
            
        </div>
    </nav>
    
    <div class="cont contenedor primero">
        <div class = "titulo textos">Benedict Cumberbatch</div>
        <div>

            <div class="container">
                <div class="row">
                  <div class="col">
                    <img src="resources/fotos/cumberbatch.jpg" class = "imagen" alt="Poster Pelicula" >
                  </div>
                  <div class="col">
                    <label for="" class ="textos desc">    Es un actor británico de televisión, teatro, cine y voz. Accedió a la fama con su 
                        interpretación de Stephen Hawking en la película televisiva Hawking (2004); posteriormente, interpretó el personaje 
                        de William Pitt en la película histórica Amazing Grace (2006), así como el rol del célebre detective Sherlock Holmes en 
                        una adaptación moderna del personaje de Arthur Conan Doyle, en la serie Sherlock (2010-2017). En el 2015, recibió su primera 
                        nominación a un Óscar a mejor actor, por su papel en la película The Imitation Game. 
                        </label>
                  </div>
                
                </div>
              </div>
            
          
               
        
            
        </div>
    
    </div>
    <div class="cont contenedor">
    <div class = "titulo textos">Datos Personales</div>
    <div>
        <label for="" class = "textos">Ocupación: </label>
        <label for="" class = "textos">Actor </label>
    </div>
    <div>
        <label for="" class = "textos">Altura: </label>
        <label for="" class = "textos">1.83 m </label>
    </div>
    <div>
        <label for="" class = "textos">Nacionalidad: </label>
        <label for="" class = "textos">Inglés </label>
    </div>
    <div>
        <label for="" class = "textos">Lugar de Nacimiento: </label>
        <label for="" class = "textos">Londres, Reino Unido  </label>
    </div>
    <div>
        <label for="" class = "textos">Fecha de Nacimiento: </label>
        <label for="" class = "textos">19/7/1976 </label>
    </div>
    <div>
        <label for="" class = "textos">Padres: </label>
        <label for="" class = "textos">Timothy Carlton, Wanda Ventham </label>
    </div>
    <div>
        <label for="" class = "textos">Hijos: </label>
        <label for="" class = "textos">Christopher Carlton, Hal Auden, Finn </label>
    </div>
    <div>
        <label for="" class = "textos">Pareja: </label>
        <label for="" class = "textos">Sophie Hunter (2015-F.) </label>
    </div>
    <div>
        <label for="" class = "textos">Hermanos: </label>
        <label for="" class = "textos">Tracy Tabernacle </label>
    </div>
    </div>
    <div class="cont contenedor">
        <div class = "titulo textos">Curiosidades</div>
        <div>
            <label for="" class = "textos">Sus padres Timothy Carlton y Wanda Ventham Tambien actuaron como sus padres en Sherlock(2010) </label>
        </div>
      
    
    </div>
        <div class="cont contenedor">
            <div class = "titulo textos">Trabajos</div>

            <div class="contenedorScroll">
                <div  class = "contenido"> <a href="productoNoReg"><figure><img src="resources/fotos/poster1.jpg" class = "imagenScroll" alt="Poster Pelicula" ><figcaption  class = "titulos">The Imitation Game</figcaption></figure></a></div>
                <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/poster1.jpg" class = "imagenScroll" alt="Poster Pelicula" ><figcaption  class = "titulos">The Imitation Game</figcaption></figure></a></div>
                <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/poster1.jpg" class = "imagenScroll" alt="Poster Pelicula" ><figcaption  class = "titulos">The Imitation Game</figcaption></figure></a></div>
                <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/poster1.jpg" class = "imagenScroll" alt="Poster Pelicula" ><figcaption  class = "titulos">The Imitation Game</figcaption></figure></a></div>
                <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/poster1.jpg" class = "imagenScroll" alt="Poster Pelicula" ><figcaption  class = "titulos">The Imitation Game</figcaption></figure></a></div>
                <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/poster1.jpg" class = "imagenScroll" alt="Poster Pelicula" ><figcaption  class = "titulos">The Imitation Game</figcaption></figure></a></div>
                <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/poster1.jpg" class = "imagenScroll" alt="Poster Pelicula" ><figcaption  class = "titulos">The Imitation Game</figcaption></figure></a></div>
                <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/poster1.jpg" class = "imagenScroll" alt="Poster Pelicula" ><figcaption  class = "titulos">The Imitation Game</figcaption></figure></a></div>
                <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/poster1.jpg" class = "imagenScroll" alt="Poster Pelicula" ><figcaption  class = "titulos">The Imitation Game</figcaption></figure></a></div>
                <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/poster1.jpg" class = "imagenScroll" alt="Poster Pelicula" ><figcaption  class = "titulos">The Imitation Game</figcaption></figure></a></div>
                <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/poster1.jpg" class = "imagenScroll" alt="Poster Pelicula" ><figcaption  class = "titulos">The Imitation Game</figcaption></figure></a></div>
           
               </div>

               <div>
                <button class = "boton " >Volver</button>
               </div>
    
        </div>
    <div class = "BarraFondo fondoLetras"><div id="clock">
        <label id="date-time"></label>
      </div>
    </div>

</body>
</html>