<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto Registrado</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
   
   
   
 
    <!-- <link rel="stylesheet" href="../archivosCSS/estilosGenerales.css">
    <link rel="stylesheet" href="../archivosCSS/estilosPantallasProds.css">
    <link rel="stylesheet" href="../archivosCSS/estilosProducto.css"> -->
    <link rel="stylesheet" href="resources/css/estilosGenerales.css">
    <link rel="stylesheet" href="resources/css/estilosPantallasProds.css">
    <link rel="stylesheet" href="resources/css/estilosProducto.css">
    

    <!-- <script type = "text/javaScript" src = "resources/back-end/reloj.js"></script>
    <script type = "text/javaScript" src = "resources/back-end/main.js"></script> -->
    <script type = "text/javaScript" src = "resources/js/reloj.js"></script>
    <script type = "text/javaScript" src = "resources/js/main.js"></script>
    <script type = "text/javaScript" src = "resources/js/productoAuto.js"></script>
</head>
<body class = "body" onload = "cargaInfoProducto()">
    <nav class="navbar navbar-expand-lg navbar-dark navbarTodos fixed-top">
       
        <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="resources/fotos/LOGO.png" class = "logo" alt="Logo" ></a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn  botonarriba" type="submit">Buscar</button>
          </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="seriesNoReg">Series</a>
                    <a class="nav-link" href="pelisNoReg" >Peliculas</a>
                    <a class="nav-link" href="docusNoReg">Documentales</a>
                        <div class="dropdown" style="float:right;">
                            <button class="dropbtn  drop" > <label for="" class = "icono">☰</label></button>
                            <div class="dropdown-content">
                              <a href="logIn">Iniciar Sesion</a>
                              <a href="/">Salir</a>
                            
                            </div>
                          </div>
                </div>
            </div>
            
        </div>
    </nav>
    
    <div class="cont contenedor primero">
        <div class = "titulo textos" id = "titulo" >The Last of Us</div>
        <div>

            <div class="container">
                <div class="row">
                  <div class="col">
                    <!-- <img src="resources/fotos/poster2.jpg" class = "imagen" alt="Poster Pelicula" > -->
                    <img src="resources/fotos/poster2.jpg" class = "imagen" alt="Poster Pelicula" id = "poster">
                  </div>
                  <div class="col">
                    <label for="" class ="textos desc" id = "sinopsis">   
                        Joel, un superviviente de carácter recio, es contratado para sacar de contrabando a Ellie, una niña de 
                        14 años, fuera de una opresiva zona de cuarentena. Lo que comienza como un pequeño trabajo pronto se 
                        convierte en un viaje brutal y desgarrador, ya que ambos deben atravesar los EE. UU.
                       
                        </label>
                        <div class = "trailer">
                            <label for="" class = "textos">Trailer:</label>
                            <a for="" href = "https://www.youtube.com/watch?v=yyGetSp7CIc" id = "trailer">https://www.youtube.com/watch?v=yyGetSp7CIc</a>
                        </div>
                        <div class = "trailer" id = "categorias">
                            <label for="" class = "textosCat categorias terror">Terror</label>
                            <label for="" class = "textosCat categorias drama">Drama</label>
                            <label for="" class = "textosCat categorias temporadas">1T 9EP</label>
                            <label for="" class = "textosCat categorias año">2023</label>
                        </div>
                        
                        <div class = "trailer" id = "rating">
                        <label for="" class = "textos rating">Rating: </label>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>  
                    </div>
                    


                    <div class = "trailer" id = "Tserie">
    
                        <button class="btn btn-secondary dropdown-toggle  filtroBtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Temporadas
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Temporada 1</a></li>
                        
                          
                        </ul>
                        <button class="btn btn-secondary dropdown-toggle  filtroBtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Episodios
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Episodio 1</a></li>
                            <li><a class="dropdown-item" href="#">Episodio 2</a></li>
                            
                          </ul>
                      </div>
            

                  </div>
                  <div class = "col">
                    
                  </div>
                </div>
              </div>
            
          
               
        
            
        </div>
    
    </div>
    <div class="cont contenedor">
        <div class = "textos titulo">Direccion</div>
        <div id = "direccion">
            <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/perfil.jpg" class = "imagenPerfil" alt="Poster Pelicula" ><figcaption  class = "titulos">Director: Craig Mazin</figcaption></figure></a></div>
            <div  class = "contenido"> <a href=""><figure><img src="resources/fotos/perfil.jpg" class = "imagenPerfil" alt="Poster Pelicula" ><figcaption  class = "titulos">Sub Director: Neil Druckmann</figcaption></figure></a></div>
        </div>
        
    </div>
    <div class="cont contenedor">
    
        <div class = "textos titulo">Reparto</div>
        <div id = "reparto">
            <div  class = "contenido"> <a href="infoCreativoNoReg"><figure><img src="resources/fotos/pascal.jpg" class = "imagenPerfil" alt="Poster Pelicula" ><figcaption  class = "titulos">Pedro Pascal</figcaption></figure></a></div>
            <div  class = "contenido"> <a href="productoReg"><figure><img src="resources/fotos/perfil.jpg" class = "imagenPerfil" alt="Poster Pelicula" ><figcaption  class = "titulos">Bella Ramsey</figcaption></figure></a></div>
        </div>
    </div>
    <div class="cont contenedor">
        <div class = "textos titulo">Escenas</div>
       
        <div id = "escenas">
            <div  class = "contenido"> <figure><img src="resources/fotos/last-of-us-2.jpg" class = "imagenPerfil" alt="Poster Pelicula" ><figcaption  class = "titulos"></figcaption></figure></div>
            <div  class = "contenido"> <figure><img src="resources/fotos/last-of-us-1.jpg" class = "imagenPerfil" alt="Poster Pelicula" ><figcaption  class = "titulos"></figcaption></figure></div>
        </div>
    </div>
    <div class="cont contenedor" id = "plataformas">
        <div class = "textos titulo">Plataformas:</div>
        <label for="" class = "textos categorias HBOMax">HBOMax</label>
    
    </div>
    <div class="cont contenedor" id = >
        <div class = "textos titulo">Comentarios:</div>
        <div class="contenedorScroll2">
           
           
           
            
           
            <div class="cont contComentarios">
                
                <div class = "textos titulo usr">Usuario 1 - 1/5/2024</div>
                    
              
                <div>
                    <label for="" class = "textos">
                        Es una serie fascinante.
                    </label>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>  
                    </div>
                    
                </div>
            </div>
            <div class="cont contComentarios">
                
                <div class = "textos titulo usr">Usuario 1 - 1/5/2024</div>
                    
              
                <div>
                    <label for="" class = "textos">
                        Es una serie fascinante.
                    </label>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>  
                    </div>
                    
                </div>
            </div> 
            <div class="cont contComentarios">
                
                <div class = "textos titulo usr">Usuario 1 - 1/5/2024</div>
                    
              
                <div>
                    <label for="" class = "textos">
                        Es una serie fascinante.
                    </label>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>  
                    </div>
                    
                </div>
            </div>
            
            </div>


        </div>

    
    </div>
    
    <div class = "BarraFondo fondoLetras"><div id="clock">
        <label id="date-time"></label>
      </div>
    </div>

</body>
</html>